<%- include("partials/header") -%>

<div class="jumbotron btn-danger" style="margin-top: 4rem;">
    <h1>About Us</h1>
    <p><%= ejsaboutContent%></p>
    <p><a class="btn btn-danger btn-lg" href="/contact" role="button">Contact Us</a></p>
  </div>
<%- include("partials/footer") -%>