<%- include("partials/header") -%>
<h1>Compose</h1><br>
<form action="/compose" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="ejsPostTitle">
    </div>
    <br>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="ejsPostContent"></textarea>
    </div><br>
    <button type="sumbit" class="btn btn-danger" name="button" value="publish-button">PUBLISH</button>
</form>

<%- include("partials/footer") -%>