<%- include("partials/header") -%>

<div class="jumbotron" style="margin-top: 4rem;">
    <h1><%=ejsPostHeading%></h1>
    <p><%=ejsPostBody%></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Read less</a></p>
  </div>


<%- include("partials/footer") -%>